html {
  font-family: "Lato", sans-serif;
  width: 100%;
}
#welcome {
  font-family: "Lato", sans-serif;
}

label {
  color: #4608ad;
  font-size: 30px;
}

input,
span,
label,
textarea {
  font-family: "Ubuntu", sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  font-size: 16px;
}

/* Question */

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

#wrapper {
  height: 100px;
  width: 300px;
  /* background: linear-gradient(#eaeaea, #ededed); */
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpsetx7ZmqKWHsVDzYg6KSJCYAFCBWIqeFRPBc8GEpAaA1cXxoUw"); */
}
#buttons-wrapper {
  margin-left: 30%;
}

#prev,
#next {
  height: 30px;
  width: 30px;
  margin-left: 20px;
}
#prev:hover,
#next:hover {
  height: 31px;
  width: 31px;
  transition: all 0.5s;
}
